---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro';
import Mensajeprin from '../components/Mensajeprin.astro';
import Final from '../components/Final.astro';
---

<Layout title="clon de bootstrap">
	<main>
		<Menu/>
		<Mensajeprin/>
		<Final/>
	</main>
</Layout>

<style>
</style>
