<div class="container text-center text-white bg-warning">
    <h4>lo que tienes que utilizar</h4>
<br>
<h4 class="text-center">contenedores</h4>
<p>container-fuid</p>
<p>container</p>



<h4 class="text-center">botones</h4>
<!-----
por lo meos 4 botones
--- -->
<p>btn btn-primary</p>
<p>btn btn-secondary</p>
<p>btn btn-warning</p>
</div>