

<!--
    Este es el menu
 -->
 <div class="container-fluid text-center text-white" style="background-color: blueviolet; height:38px;">
    <div class="row">
        <div class="col-sm-3">Bootstrap</div>
        <div class="col-sm-2">Documentos</div>
        <div class="col-sm-1"><img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="" width="45px"  height="45px"></div>
        <div class="col-sm-2">Ejemplos</div>
        <div class="col-sm-4">Blog</div>
    </div>
 </div>